.card-1 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    margin-top: 10vh;
    border-radius: 1em
}

h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

.elegantshadow {
    color: #131313;
    letter-spacing: .15em;
    text-shadow:
        1px -1px 0 #767676,
        -1px 2px 1px #737272,
        -2px 4px 1px #767474,
        -3px 6px 1px #787777,
        -4px 8px 1px #7b7a7a,
        -5px 10px 1px #7f7d7d,
        -6px 12px 1px #828181,
        -7px 14px 1px #868585,
        -8px 16px 1px #8b8a89,
        -9px 18px 1px #8f8e8d,
        -10px 20px 1px #949392,
        -11px 22px 1px #999897,
        -12px 24px 1px #9e9c9c,
        -13px 26px 1px #a3a1a1,
        -14px 28px 1px #a8a6a6,
        -15px 30px 1px #adabab,
        -16px 32px 1px #b2b1b0,
        -17px 34px 1px #b7b6b5,
        -18px 36px 1px #bcbbba,
        -19px 38px 1px #c1bfbf,
        -20px 40px 1px #c6c4c4,
        -21px 42px 1px #cbc9c8,
        -22px 44px 1px #cfcdcd,
        -23px 46px 1px #d4d2d1,
        -24px 48px 1px #d8d6d5,
        -25px 50px 1px #dbdad9,
        -26px 52px 1px #dfdddc,
        -27px 54px 1px #e2e0df,
        -28px 56px 1px #e4e3e2;
}


#card-profile {
    background-color: #4c6e81;

}

#profile {

    border-radius: 50%;
}

#d-name h4 {

    text-transform: uppercase;
    padding-top: 2em;
    letter-spacing: .2rem;
    color: white;
}

#d-job-title p {
    margin-top: 1.5em;
    color: #cf8da7;
    font-style: bold;
    font-size: 1.2em;
    font-family: 'CenturyGothic'
}


.hr-line {
    display: flex;
}

.hr-line:before,
.hr-line:after {
    /* color:white; */
    content: '';
    flex: 1;

    border-bottom: 1px solid;
    margin: auto 0.25em;
    /* box-shadow: 0 -1px;
*/
}

#d-job-content {
    color: white;
    letter-spacing: .1rem;
}

#d-contact {
    text-align: center;

}

#d-contact a {
    color: white;
    letter-spacing: .2em;
    font-size: 2.5em;
    text-decoration: none;
}

#projects {
    padding-bottom: 2em;
}

#projects img {

    width: 5rem;
    height: 5rem;
    margin-top: 5em;
    margin-right: .5em;
    margin-left: .5em;
    border-radius: 50%;

}


.d-tech-stack1 {

    margin-top: 5em;
    justify-content: center;
    display: flex;
    padding-bottom: 2em;



}

.d-tech-stack2 {

    justify-content: center;
    display: flex;
    padding-bottom: 2em;


}


.d-tech-stack div {

    /*margin-right: .1em;
margin-left: .1em;
*/
}

/*this is the parent logo of tech stack*/
.t-box {
    height: 7em;
    width: 7em;

}



.t-box div img {

    height: 5em;
    width: 5em;
    border-radius: 10%;
    margin: auto;
}

.t-name {

    font-size: 1em;
    color: white;
    padding-top: .2em;
}



/*MEDIA QUERY FOR MOBILE*/


@media (min-width: 100px) and (max-width: 767px) {

    .d-tech-stack1 {

        margin-top: 5em;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    .d-tech-stack2 {

        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;

    }

}
